JSON sorta/Node RED- Arduino Sagardotegia.json
[{"id":"8daeeadf2fa6f641","type":"tab","label":"Sagardotegia","disabled":false,"info":""},{"id":"b7aca7fae6fc1b53","type":"tab","label":"Ariketa Random Alarma","disabled":false,"info":""},{"id":"65b35c622f42594a","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"1200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"83d7dd1d.e34ea","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"1200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"97980ad32214294d","type":"mqtt-broker","name":"Sagardotegia","broker":"demo.thingsboard.io","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"37cb8052020bc61e","type":"mqtt-broker","name":"HIVE MQ","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"58f3a504967c1b74","type":"mqtt-broker","name":"","broker":"demo.thingsboard.io","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"df4c93864848d823","type":"serial in","z":"8daeeadf2fa6f641","name":"Arduinoa","serial":"83d7dd1d.e34ea","x":80,"y":220,"wires":[["2f8215f7c85e727c"]]},{"id":"2f8215f7c85e727c","type":"split","z":"8daeeadf2fa6f641","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":210,"y":220,"wires":[["d6e623c783859eaf"]]},{"id":"d6e623c783859eaf","type":"function","z":"8daeeadf2fa6f641","name":"Erase \" \" msg","func":"if (msg.payload != \"\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":220,"wires":[["177f8fe0b67f1cfe"]]},{"id":"177f8fe0b67f1cfe","type":"json","z":"8daeeadf2fa6f641","name":"","property":"payload","action":"","pretty":false,"x":510,"y":220,"wires":[["f2a37b444d1af9a5"]]},{"id":"f2a37b444d1af9a5","type":"switch","z":"8daeeadf2fa6f641","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"100","vt":"str"},{"t":"gte","v":"100","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":220,"wires":[["d472cc2bd38ad47d"],["2e9544d8737b4db5"]]},{"id":"d472cc2bd38ad47d","type":"range","z":"8daeeadf2fa6f641","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"roll","round":true,"property":"payload","name":"","x":300,"y":140,"wires":[["f073c8f21d658f94"]]},{"id":"2e9544d8737b4db5","type":"range","z":"8daeeadf2fa6f641","minin":"100","maxin":"200","minout":"0","maxout":"100","action":"roll","round":true,"property":"payload","name":"","x":300,"y":300,"wires":[["83855bf05a8931d0"]]},{"id":"f073c8f21d658f94","type":"function","z":"8daeeadf2fa6f641","name":"Tº nodered2thingsboard","func":"var tenperatura=msg.payload;\nmsg.payload={\"Tenperatura\":tenperatura}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":140,"wires":[["49d895dede8e54de","846d1ae52865edf6"]]},{"id":"83855bf05a8931d0","type":"function","z":"8daeeadf2fa6f641","name":"Hº nodered2thingsboard","func":"var hezetasuna=msg.payload;\nmsg.payload={\"Hezetasuna\":hezetasuna}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":300,"wires":[["49d895dede8e54de","846d1ae52865edf6"]]},{"id":"49d895dede8e54de","type":"mqtt out","z":"8daeeadf2fa6f641","name":"","topic":"v1/devices/me/telemetry","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"97980ad32214294d","x":890,"y":220,"wires":[]},{"id":"73e14239f9784c51","type":"inject","z":"8daeeadf2fa6f641","name":"{\"latitude\":43.26107751218338,\"longitude\":-2.1852614158857384}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":43.26107751218338,\"longitude\":-2.1852614158857384}","payloadType":"json","x":400,"y":380,"wires":[["49d895dede8e54de"]]},{"id":"e0df2e54179cbfba","type":"inject","z":"8daeeadf2fa6f641","name":"{\"egilea\":\"Izeta\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"egilea\":\"Izeta\"}","payloadType":"json","x":530,"y":440,"wires":[["49d895dede8e54de"]]},{"id":"846d1ae52865edf6","type":"debug","z":"8daeeadf2fa6f641","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":180,"wires":[]},{"id":"8185284c904493a2","type":"inject","z":"b7aca7fae6fc1b53","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":90,"y":80,"wires":[["a78a18023dbcb52d"]]},{"id":"849aa8ee31e55e6b","type":"function","z":"b7aca7fae6fc1b53","name":"msg.payload={\"tenperatura\":tenperatura}","func":"var tenperatura=msg.payload\nmsg.payload={\"tenperatura\":tenperatura}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":80,"wires":[["6258a5f084c6c47c"]]},{"id":"b73d8d2b38a284d1","type":"inject","z":"b7aca7fae6fc1b53","name":"1 sg","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":140,"wires":[["275777185c80950f"]]},{"id":"8f9ab60fe7b1b642","type":"function","z":"b7aca7fae6fc1b53","name":"msg.payload={\"hezetasuna\":hezetasuna}","func":"var hezetasuna=msg.payload;\nmsg.payload={\"hezetasuna\":hezetasuna}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":140,"wires":[["6258a5f084c6c47c"]]},{"id":"50af0f01be77d38c","type":"inject","z":"b7aca7fae6fc1b53","name":"{\"latitude\":43.29869910712729}","props":[{"p":"payload"}],"repeat":"20","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":43.29869910712729}","payloadType":"json","x":180,"y":200,"wires":[["6258a5f084c6c47c"]]},{"id":"7cad6aa7b7f0737f","type":"inject","z":"b7aca7fae6fc1b53","name":"{\"longitude\":-2.256311568347271}","props":[{"p":"payload"}],"repeat":"20","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"longitude\":-2.256311568347271}","payloadType":"json","x":180,"y":240,"wires":[["6258a5f084c6c47c"]]},{"id":"bfacdc2001f33b73","type":"inject","z":"b7aca7fae6fc1b53","name":"{\"data\":[\"Espartxero\",\"Aimar\",\"Xanti\"]}","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"data\":[\"Irkutz\",\"Zihortza\",\"Anartz\"]}","payloadType":"json","x":190,"y":300,"wires":[["4c71609a2325145b"]]},{"id":"6b4e39318996a9d2","type":"function","z":"b7aca7fae6fc1b53","name":"msg.payload={\"ikaslea\":izena}","func":"var izena=msg.payload;\nmsg.payload={\"ikaslea\":izena}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":300,"wires":[["6258a5f084c6c47c"]]},{"id":"26ff0640564dfb67","type":"calculator","z":"b7aca7fae6fc1b53","name":"x10","inputMsgField":"payload","outputMsgField":"payload","operation":"mult","constant":"10","round":true,"decimals":"2","x":390,"y":80,"wires":[["5123a38184ec3b58"]]},{"id":"5123a38184ec3b58","type":"calculator","z":"b7aca7fae6fc1b53","name":"Absolute","inputMsgField":"payload","outputMsgField":"payload","operation":"abs","constant":"","round":true,"decimals":"2","x":520,"y":80,"wires":[["c71ef79335870c40"]]},{"id":"c71ef79335870c40","type":"calculator","z":"b7aca7fae6fc1b53","name":"+20","inputMsgField":"payload","outputMsgField":"payload","operation":"sum","constant":"20","round":true,"decimals":"2","x":650,"y":80,"wires":[["849aa8ee31e55e6b"]]},{"id":"275777185c80950f","type":"Number","z":"b7aca7fae6fc1b53","name":"Hezetasuna","minimum":"35","maximum":"46","roundTo":"2","Floor":false,"x":230,"y":140,"wires":[["8f9ab60fe7b1b642"]]},{"id":"4c71609a2325145b","type":"List","z":"b7aca7fae6fc1b53","name":"Random Izena","opType":"rElement","x":460,"y":300,"wires":[["6b4e39318996a9d2"]]},{"id":"a78a18023dbcb52d","type":"lfo-node","z":"b7aca7fae6fc1b53","name":"Tº Uhina (1,-1)","waveform":"saw_i","frequency":"0.05","samplingrate":"1000","x":240,"y":80,"wires":[["26ff0640564dfb67"]]},{"id":"6258a5f084c6c47c","type":"debug","z":"b7aca7fae6fc1b53","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":180,"wires":[]}]